<!doctype html>
<html lang="en" ng-app="phonebookApp">
<head>
    <meta charset="UTF-8">
    <title>Phonebook App</title>

    <!-- Booststrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>

    <!-- Angurlar JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="ContactListCtrl">
    <div class="container">
        <div class="row">
            <div class="span2">
                <!--Sidebar content-->
                <div class="form-group">
                    Search: <input ng-model="query">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="phone">By Phone</option>
                    </select>
                </div>
            </div>
            <div class="span10">
                <div class="well">
                    <p>Contacts in group: <strong class="text-info">{{contactGroup}}</strong></p>
                </div>
                <!--Body content-->
                <ul class="contacts">
                    <li ng-repeat="contact in contacts | filter:query | orderBy:orderProp">
                        <span>{{contact.name}} - <span class="text-info">{{contact.phone}}</span></span>
                        <p class="text-muted">{{contact.note}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>